@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-backgroundPrimary: #270202;
  --color-backgroundSecondary: #010530;
}

.test {
  color: #010530;
}
