@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-backgroundPrimary: #270202;
  --color-backgroundSecondary: #010530;
  --color-primary: #dba465;
  --color-secondary: #c42626;
}

.gradient-text {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test {
  color: #c42626;
}
